h1 {
    font-family: "Montserrat";
    font-weight: 500;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    font-size: 3.5vw;
    position: absolute;
    bottom: 0%;
    padding-left: 1em;
}
header {
    position: relative;
}
/*Rows*/
.row-img {
    width: 150px;
    height: 150px;
}
.row-video {
    width: 200px;
    height: 150px;
}
