header {
    height: 75vmin;
    overflow-x: hidden;
    position: relative;
}
img.header-image {
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: -1;
}
header h1 {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0%;
    font: 500 clamp(4.9vw, 4.9vw , 10px) "Montserrat", sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
}
/*Protects against extreme image scaling. Minimum image aspect ratio = 28:9*/
@media only screen and (min-aspect-ratio: 21/9) {
    header {
        height: calc(900vw / 28);
    }
    /*header h1 {
        font-size: calc(45vw / 21);
    }*/
}
h3 {
    font-size: 1.5em;
}
/* homepage */
.homepage-row-img {
    width: 150px;
    height: 150px;
}
.homepage-column .homepage-row-img {
    margin: 0 auto;
}
.homepage-columns {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}
.homepage-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 5vw;
    margin-left: 5vw;
    padding-right: 1vw;
    padding-left: 1vw;
    /*    border-style: groove;
    border-right: 0;
    border-left: 0;*/
}
.homepage-column-text {
    text-align: center;
    padding-top: 20px;
}
.homepage-column-line {
    background-color: white;
    width: 1px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}
