section {
    height: 30vh;
    width: 100%;
}
p {
    font-size: large;
}
h1 {
    font-size: 5em;
}
h2 {
    padding-top: 10px;
    padding-left: 10px;
}
.left_img {
    float: left;
    margin: 20px;
    vertical-align: middle;
}
.right_img {
    margin: 20px;
    vertical-align: middle;
}
.d.slideshow {
    width: 100vw;
}
.slideshow_img {
    justify-content: center;
}
