.hawkimg {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.social-container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: #1a1c1a;
    height: 500px;
    border-radius: 15%;
    margin-bottom: 30px;
}
.social-container h1 {
    display: block;
    text-align: center;
    padding-top: 20px;
}
.social-container li{
    display: block;
    list-style-type: none;
    font-size: 30px;
    padding-top: 10px;
    margin-left: 30px;
}
.social-container li i{
    padding-right: 15px;
}
.social-container a:hover{
    color: #20973a;
}